<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zdhspace.blog.mapper.TypeMapper">
    <insert id="addType" parameterType="cn.zdhspace.blog.entity.Type">
        insert into type values (#{t_id},#{t_name})
    </insert>
    <delete id="deleteTypeById">
        delete from type where t_id = #{id}
    </delete>
    <select id="getTypes" resultType="cn.zdhspace.blog.entity.Type">
        select t_id,t_name from type
    </select>
</mapper>